<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qs.property.mapper.IWyAllPropertyMapper">
	<select id="findall" resultType="java.util.Map">
		select * from wy_allproperty limit 1
	</select>
</mapper>